In [30]:
import numpy as np
import pandas as pd

In [31]:
a = np.empty((15,))
a[::3] = 1

a_df = pd.DataFrame({'value': a})
a_df.head()

           value
0   1.000000e+00
1  6.949296e-310
2  6.949296e-310
3   1.000000e+00
4  6.949296e-310

In [42]:
x= [1,2]
np.ptp(x)

1

In [56]:
a_df['block'] = (a_df['value'] != a_df['value'].shift(1)).astype(int).cumsum()
a_df['count'] = a_df.groupby((a_df['value'] != a_df['value'].shift(1)).cumsum()).cumcount()+1

In [57]:
a_df.head()

           value  block  count
0   1.000000e+00      1      1
1  6.949296e-310      2      1
2  6.949296e-310      2      2
3   1.000000e+00      3      1
4  6.949296e-310      4      1

In [53]:
s = ['B', 'B', 'A', 'A', 'B']
df = pd.DataFrame({'col':s})
df['block'] = (df['col'] != df['col'].shift(1)).astype(int).cumsum()
df['count'] = df.groupby((df['col'] != df['col'].shift(1)).cumsum()).cumcount()+1

In [54]:
df

  col  block  count
0   B      1      1
1   B      1      2
2   A      2      1
3   A      2      2
4   B      3      1

In [68]:
#reset count after sign change 
d = np.random.randn(10, 1) * 2
df = pd.DataFrame(d.astype(int), columns=['data'])
df.groupby(df.data.gt(0).astype(int).diff().ne(0).cumsum()).data.cumcount()

0    0
1    1
2    2
3    0
4    1
5    0
6    0
7    1
8    0
9    0
dtype: int64

In [65]:
#less than 0, as int 
df.data.lt(0).astype(int)

#take diff of above
df.data.lt(0).astype(int).diff
#where there is a diff. not equal to 0. 
df.data.lt(0).astype(int).diff.ne(0)

<bound method Series.diff of 0    1
1    0
2    0
3    1
4    0
5    1
6    1
7    0
8    0
9    0
Name: data, dtype: int64>

In [77]:
a = df != 0
df1 = a.cumsum()-a.cumsum().where(~a).ffill().fillna(0).astype(int)

In [80]:
df1

0    0
1    0
2    0
3    0
4    0
5    0
dtype: int64

In [81]:
df = pd.DataFrame({'col1': ['a', 'a', 'a', 'a', 'a', 'a', 'b', 'b', 'b', 'c', 'c', 'c', 'c'],
                 'col2': [1, 1, 1, 1, 2, 2, 1, 1, 2, 1, 1, 2, 2],
                 'col3': [1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0],
                 'desired': [0, 1, 2, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1]})

a = df.groupby(['col1','col2'])['col3'].shift().fillna(0).eq(1)
b = a.cumsum()

df['desired'] = b-b.where(~a).ffill().fillna(0).astype(int)

In [82]:
df

   col1  col2  col3  desired
0     a     1     1        0
1     a     1     1        1
2     a     1     0        2
3     a     1     0        0
4     a     2     0        0
5     a     2     0        0
6     b     1     0        0
7     b     1     1        0
8     b     2     0        0
9     c     1     1        0
10    c     1     1        1
11    c     2     1        0
12    c     2     0        1