In [30]:
import numpy as np
import pandas as pd

In [31]:
a = np.empty((15,))
a[::3] = 1

a_df = pd.DataFrame({'value': a})
a_df.head()

           value
0   1.000000e+00
1  6.949296e-310
2  6.949296e-310
3   1.000000e+00
4  6.949296e-310

In [42]:
x= [1,2]
np.ptp(x)

1

In [56]:
a_df['block'] = (a_df['value'] != a_df['value'].shift(1)).astype(int).cumsum()
a_df['count'] = a_df.groupby((a_df['value'] != a_df['value'].shift(1)).cumsum()).cumcount()+1

In [57]:
a_df.head()

           value  block  count
0   1.000000e+00      1      1
1  6.949296e-310      2      1
2  6.949296e-310      2      2
3   1.000000e+00      3      1
4  6.949296e-310      4      1

In [53]:
s = ['B', 'B', 'A', 'A', 'B']
df = pd.DataFrame({'col':s})
df['block'] = (df['col'] != df['col'].shift(1)).astype(int).cumsum()
df['count'] = df.groupby((df['col'] != df['col'].shift(1)).cumsum()).cumcount()+1

In [54]:
df

  col  block  count
0   B      1      1
1   B      1      2
2   A      2      1
3   A      2      2
4   B      3      1